<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/Front_End/CSS_Pages/PasswordReset.css" />
  <title>Reset Password</title>
  
  </style>
</head>
<body>
  <h1>Reset Password</h1>
  <form id="resetPasswordForm">

    <!-- BUG OF NOT successfully updating the reset password into the Database -->

    <input type="hidden" id="userId" name="userId" value="<%= id %>">
    <input type="hidden" id="token" name="token" value="<%= token %>">
    
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" required>
    
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>
    
    <div id="error" class="error"></div> <!-- Display error messages here -->
    
    <button type="submit">Reset Password</button>
  </form>

  <script src="/Front_End/JS_Scripts/PasswordReset.js"></script>
</body>
</html>
